@font-face {
font-family: "Amethyst";
src: url("../fonts/Amethyst.ttf");
}
@font-face {
font-family: "Batman Forever";
src: url("../fonts/batmfa__.ttf");
}
@font-face {
font-family: "Batman Forever Outline";
src: url("../fonts/batmfo__.ttf");
}
@font-face {
font-family: "Batman Forever Outline";
src: url("../fonts/batmfo__.ttf");
}
@font-face {
font-family: "Square";
src: url("../fonts/Square.ttf");
}
@font-face {
font-family: "Square Outline";
src: url("../fonts/Squareo.ttf");
}

html{ 
	margin:0; 
	height: 100%;
	font-family: tahoma;
	background: url("../images/BG.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	style="overflow: hidden;

}

#header{
		position:fixed;
		height: 50px;
		display:block;
		width: 100%;
		z-index:9;
		text-align:center;
		color: #f2f2f2;
		top:0px;
		margin-left: -40px;
	}

.section{
	text-align:center;
}

#name{
	font-family: Batman Forever;
	font-size: 5vw;
	color: #ff3838;
}

#awe{
	font-family: Batman Forever Outline;
	font-size: 3vw;
	color: white;
}

#introimg{
	max-width: 100%;
	height: auto;
	border: 0;
}

a{
	text-decoration: none;
}

ul{
	list-style-type: none;
}

li.navI{
	float: left;
	height: 5%;
	width: 8%;
	margin-left: 15px;
	padding: 5px;
	border: 1px solid white;
	border-radius: 10px;
}

li.navI:hover{
	border-color: #6544fc;
	background-color: #ff3838;
}

span.mItem{
	font-family: Batman Forever Outline;
	font-size: 1vw;
	color: white;
}


span.aboutTitle{
	font-family: Batman Forever;
	font-size: 250%;
}

#quote{
	font-family: Amethyst;
	font-size: 110%;
}

span.head{
	font-family: Square Outline;
	font-size: 230%;
}

span.body{
	font-family: Square;
	font-size: 110%;
	 line-height: 150%
}
.aboutCont{
	width: 100%;
	height: 88%;
	background-color: #6544fc;
	padding: 40px;
}	

.workCont{
	width: 100%;
	height: 88%;
	background-color: #6544fc;
	padding: 40px;
}

#aboutImg{
	position:absolute;
	left: 0px;
	top: 257px;
	z-index:0;
}

div.info{
	height: 25%;
	width: 27%;
	padding: 1%;
	text-align: left;
	margin-top: 2%;
	margin-left: 20%;
}

div.facts{
	height: 45%;
	width: 27%;
	padding: 1%;
	text-align: left;
	margin-top: 2%;
	margin-left: 20%;

}

.skills{
	height: 50%;
	width: 40%;
	padding: 1%;
	position: absolute;
	right: 5%;
	top: 20.5%;
}

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;	
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}

.galCont{
	height: 89%;
	width: 100%;
	position: center;
	position: fixed;
	margin-top: 3%;
	vertical-align: middle;
	horizontal-align: middle;
}
