@font-face {
font-family: "Amethyst";
src: url("../fonts/Amethyst.ttf");
}
@font-face {
font-family: "Batman Forever";
src: url("../fonts/batmfa__.ttf");
}
@font-face {
font-family: "Batman Forever Outline";
src: url("../fonts/batmfo__.ttf");
}
@font-face {
font-family: "Batman Forever Outline";
src: url("../fonts/batmfo__.ttf");
}
@font-face {
font-family: "MGS2";
src: url("../fonts/MGS2.ttf");
}
@font-face {
font-family: "Tactical Espionage Action";
src: url("../fonts/Tactical Espionage Action.ttf");
}
@font-face {
font-family: "Viking";
src: url("../fonts/VIKING-N.ttf");
}

html{ 
	margin:0; 
	height: 100%;
	font-family: tahoma;
	background: url("../images/BG.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
	style="overflow: hidden;

}

.section{
	text-align:center;
}

#name{
	font-family: Batman Forever;
	font-size: 5vw;
	color: #ff3838;
}

#awe{
	font-family: Batman Forever Outline;
	font-size: 3vw;
	color: white;
}

#introimg{
	max-width: 100%;
	height: auto;
	border: 0;
}